* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #f0e9cd15;
}

.full-height {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #264935;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 4rem;
}

#searchInput {
    border: 1px solid #eac5b3;
}

#searchInput:active {
    border: 1px solid #eac5b3;
}

.content-main {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.custom-content-main {
    margin-top: 5rem;
}

.custom-title {
    color: #28a745;
}

.custom-order-price {
    background-color: transparent;
    border: none;
    margin-left: -5px;
    cursor: pointer;
}

.form-select {
    width: fit-content;
}

.promo-badge {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: #dc3545;
    color: #f0e9cd;
    font-weight: bold;
    font-size: 12px;
    padding: 6px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: 1px solid #f0e9cd;
    display: flex;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}

.btn-open-filters {
    cursor: pointer;
}

.custom-filters {
    font-family: 'poppins', sans-serif;
    color: #264935;
    font-size: 14px;
}

.custom-items-per-page {
    top: -1rem;
}

.custom-items-per-page>select, .custom-items-per-page {
    font-size: 14px;
}

.about-products {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.custom-card-img-product {
    width: 75%;
    margin-top: 1rem;
}

.btn-buy,
.btn-eye {
    width: 50%;
    height: fit-content;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.btn-eye {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #264935;
    color: #264935;
}

.btn-eye:hover {
    border: 1px solid #dc3545;
    color: #dc3545;
}

.btn-buy {
    background-color: #264935;
    color: #f0e9cd;
    border: 1px solid #264935;
    transition: .4s;
}

.btn-buy:hover {
    background-color: #a77965;
    border: 1px solid #f0e9cd;
    color: #f0e9cd;
}

.custom-price-old {
    font-size: 24px;
}

.custom-price {
    font-size: 28px;
}

.custom-price-promotion {
    font-size: 20px;
}

.custom-price {
    color: #a77965;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: calc(10%);
}

.prices {
    font-family: 'poppins', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.btn-primary:hover {
    background-color: #f0e9cd;
    color: #264935;
}

.custom-pagination {
    padding: 3rem 0rem 1rem 0rem;
}

.custom-footer {
    background-color: #264935;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 7000; 
    display: none;
}

.overlay.openOverlay {
    display: block;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(87, 87, 87, 0.103);
    padding: 1rem 2rem 1rem 1rem;
    z-index: 7000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    font-family: 'poppins', sans-serif;
}

.sidebar.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.form-check-input {
    cursor: pointer;
}

.sidebar .close-btn {
    opacity: 0; 
    pointer-events: none; 
    transform: translateX(-100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar.open .close-btn {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.close-btn {
    left: -1rem;
}

.btn-close-sidebar {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a77965;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 800;
}

.page-link {
    opacity: .6;
    background-color: transparent;
    color: #a77965;
    border: 1px solid #a77965;
    border-radius: 50%;
    padding: 5px 16px;
}

.page-link:hover {
    background-color: #a77965;
    color: #fff;
    border: 1px solid #f0e9cd;
}

.active>.page-link {
    opacity: 1;
    background-color: #a77965;
    border: 1px solid #f0e9cd;
}

.custom-btn-close-modal {
    background-color: #264935;
    color: #f0e9cd;
    transition: .4s;
    font-size: 14px;
    font-weight: 700;
}

.custom-btn-close-modal:hover {
    background-color: #dc3545;
    color: #f0e9cd;
    border: 1px solid #f0e9cd;
}

@media (max-width: 425px) {
    .custom-card-img-product {
      width: 55%;
    }
}

@media (max-width: 320px) {
    .custom-card-img-product {
      width: 60%;
    }
}

@media (max-width: 600px) {
    .custom-header > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
      margin-bottom: .5rem;
    }
}